html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
}
#root {
  flex: 1;
}
.wrapper{
  display: flex;
  flex-direction: column;
}
.container{
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}
.content{
  display: flex;
  flex-direction: row;
}
.container main{
  flex:4;
  padding-top: 30px;
}
.container aside{flex:1}

